@use '@constants' as constants;

.container {
  cursor: pointer;
  perspective: 1000px;
}

.card {
  min-height: 250px;
  background-color: constants.$blue !important;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  transform: rotateY(180deg);
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.players {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.playerLink {
  display: inline-block;
  text-align: center;
  padding: 0.25rem 0.5rem;
  background-color: constants.$darkBlue;
  color: constants.$white;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  text-decoration: none;
}
